In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('online_retail_II.csv')

In [3]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
df.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [5]:
df.shape

(1067371, 8)

In [6]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [7]:
df1 = df.dropna(subset='Customer ID')

In [8]:
df2 = df.dropna(subset=['Customer ID']).copy()

In [9]:
df2.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [10]:
df2['Is_Cancelled'] = df2['Invoice'].astype(str).str.startswith('C')

In [11]:
df2['Is_Cancelled'].sum()

np.int64(18744)

In [12]:
df2['InvoiceDate'] = pd.to_datetime(df2['InvoiceDate'])

In [13]:
df2['InvoiceDate'] = pd.to_datetime(df2['InvoiceDate'])

In [14]:
df2['Customer ID'] = df2['Customer ID'].astype(int)

In [15]:
df2['Quantity'] = pd.to_numeric(df2['Quantity'])
df2['Price'] = pd.to_numeric(df2['Price'])

In [16]:
df2['Total'] = df2['Quantity'] * df2['Price']

In [17]:
df2.dtypes

Invoice                 object
StockCode               object
Description             object
Quantity                 int64
InvoiceDate     datetime64[ns]
Price                  float64
Customer ID              int64
Country                 object
Is_Cancelled              bool
Total                  float64
dtype: object

In [18]:
df2.drop_duplicates()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Is_Cancelled,Total
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,False,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,False,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,False,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,False,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,False,30.00
...,...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,False,12.60
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,False,16.60
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,False,16.60
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,False,14.85
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680,France,False,18.00

In [19]:
dim_customer = df2[['Customer ID', 'Country']].copy()
# Select only the customer-related columns

In [20]:
dim_customer = dim_customer.drop_duplicates(subset=['Customer ID'])
# Remove duplicates so each Customer ID appears only once

In [21]:
dim_customer.sum()

Customer ID                                             91010643
Country        United KingdomUnited KingdomUnited KingdomUnit...
dtype: object

In [22]:
dim_product = df2[['StockCode', 'Description']].copy()

In [23]:
dim_product = dim_product.drop_duplicates(subset=['StockCode'])

In [24]:
fact_sales = df2[['Invoice', 'StockCode', 'Customer ID', 'InvoiceDate', 'Quantity', 'Price', 'Total']].copy()
#The Fact table is the "heart" of your schema. It stores the "keys" (to link to dimensions) and the "measures" (the numbers you want to add up).

In [25]:
dim_customer.to_csv('dim_customer.csv', index=False)
dim_product.to_csv('dim_product.csv', index=False)
fact_sales.to_csv('fact_sales.csv', index=False)
#To save the star schema in the csv file

In [26]:
pd.__version__

'2.3.3'

In [27]:
import sys
print(sys.version)

3.10.19 (main, Oct  9 2025, 15:25:03) [Clang 16.0.0 (clang-1600.0.26.6)]

In [28]:
import datetime as dt

# Ensure InvoiceDate is correct datetime format
df2['InvoiceDate'] = pd.to_datetime(df2['InvoiceDate'])

# Setup Reference Date (1 day after last transaction)
today_date = df2['InvoiceDate'].max() + dt.timedelta(days=1)

# Calculate RFM Metrics using 'Total' column
rfm = df2.groupby('Customer ID').agg({
    'InvoiceDate': lambda x: (today_date - x.max()).days,
    'Invoice': lambda x: x.nunique(),
    'Total': 'sum' 
})

# Rename columns
rfm.columns = ['Recency', 'Frequency', 'Monetary']

print("Step 1 Complete: RFM metrics calculated from df2.")
rfm.head()

Step 1 Complete: RFM metrics calculated from df2.

             Recency  Frequency  Monetary
Customer ID
12346            326         17    -64.68
12347              2          8   5633.32
12348             75          5   2019.40
12349             19          5   4404.54
12350            310          1    334.40

In [29]:
# 1. Calculate Scores (1-5)
rfm["R_Score"] = pd.qcut(rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])
rfm["F_Score"] = pd.qcut(rfm['Frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

# 2. Create the combined score
rfm['RF_Score'] = rfm['R_Score'].astype(str) + rfm['F_Score'].astype(str)

# 3. Apply 3-Tier Logic
def assign_segments(row):
    score = row['RF_Score']
    # Champions: High Recency (4-5) and High Frequency (4-5)
    if score in ['44', '45', '54', '55']:
        return 'Champions'
    # Hibernating: Low Recency (1-2) and Low Frequency (1-2)
    elif score in ['11', '12', '21', '22']:
        return 'Hibernating'
    # Everyone else (including old At Risk/Potential) becomes a Loyalist
    else:
        return 'Loyalists'

rfm['Segment'] = rfm.apply(assign_segments, axis=1)

print("Step 2 Complete: Customers categorized into 3 Tiers.")
print(rfm['Segment'].value_counts())

Step 2 Complete: Customers categorized into 3 Tiers.
Segment
Loyalists      2929
Hibernating    1535
Champions      1478
Name: count, dtype: int64

In [30]:
# Statistical Audit of the 3 tiers
audit = rfm.groupby('Segment').agg({
    'Monetary': 'mean',
    'Frequency': 'mean',
    'Recency': 'mean',
    'Segment': 'count'
}).rename(columns={'Segment': 'Count'}).sort_values('Monetary', ascending=False)

print("--- Business Validation Audit ---")
print(audit.round(2))

--- Business Validation Audit ---
             Monetary  Frequency  Recency  Count
Segment
Champions     8018.46      19.19    19.23   1478
Loyalists     1459.56       4.94   157.89   2929
Hibernating    340.03       1.34   465.67   1535

In [31]:
# used correlation for product bundles
# Get a list of all item pairs that appear in the same Invoice
# We merge the dataframe with itself on the 'Invoice' column
pairs = df2[['Invoice', 'Description']].merge(
    df2[['Invoice', 'Description']], 
    on='Invoice'
)

# Filter out rows where the item is paired with itself
pairs = pairs[pairs['Description_x'] != pairs['Description_y']]

# Count which pairs happen most often
bundles = pairs.groupby(['Description_x', 'Description_y']).size().reset_index(name='Frequency')

# Sort to see the strongest bundles
bundles = bundles.sort_values(by='Frequency', ascending=False)

# Rename for clarity
bundles.columns = ['Item A', 'Item B', 'Times Bought Together']

print("Top 10 Simplest Product Bundles:")
bundles.head(10)

Top 10 Simplest Product Bundles:

,Item A,Item B,Times Bought Together
7189993,WHITE HANGING HEART T-LIGHT HOLDER,RED HANGING HEART T-LIGHT HOLDER,1357
5077929,RED HANGING HEART T-LIGHT HOLDER,WHITE HANGING HEART T-LIGHT HOLDER,1357
7333049,WOODEN PICTURE FRAME WHITE FINISH,WOODEN FRAME ANTIQUE WHITE,1148
7320255,WOODEN FRAME ANTIQUE WHITE,WOODEN PICTURE FRAME WHITE FINISH,1148
3045789,HEART OF WICKER SMALL,HEART OF WICKER LARGE,1039
3041935,HEART OF WICKER LARGE,HEART OF WICKER SMALL,1039
6624559,SWEETHEART CERAMIC TRINKET BOX,STRAWBERRY CERAMIC TRINKET BOX,1015
6551392,STRAWBERRY CERAMIC TRINKET BOX,SWEETHEART CERAMIC TRINKET BOX,1015
3632574,LOVE BUILDING BLOCK WORD,HOME BUILDING BLOCK WORD,947
3107031,HOME BUILDING BLOCK WORD,LOVE BUILDING BLOCK WORD,947